[Container]
AutoUpdate = registry
Image = ghcr.io/traefik/traefik
Environment = TRAEFIK_ACCESSLOG=true
Environment = TRAEFIK_LOG_LEVEL=INFO
Environment = TRAEFIK_PROVIDERS_FILE_DIRECTORY=/config
Environment = TRAEFIK_PROVIDERS_FILE_WATCH=false
Environment = TRAEFIK_PROVIDERS_DOCKER=true
Environment = TRAEFIK_CERTIFICATESRESOLVERS_DEFAULT_ACME_STORAGE=/acme/acme.json
Environment = TRAEFIK_CERTIFICATESRESOLVERS_DEFAULT_ACME_EMAIL=bot@bonjour.zone
Environment = TRAEFIK_CERTIFICATESRESOLVERS_DEFAULT_ACME_TLSCHALLENGE=true
Environment = TRAEFIK_CERTIFICATESRESOLVERS_DEFAULT_ACME_KEYTYPE=EC384
Environment = TRAEFIK_ENTRYPOINTS_HTTP_ADDRESS=:80
Environment = TRAEFIK_ENTRYPOINTS_HTTP_HTTP_REDIRECTIONS_ENTRYPOINT_TO=https
Environment = TRAEFIK_ENTRYPOINTS_HTTPS_ADDRESS=:443
Environment = TRAEFIK_ENTRYPOINTS_HTTPS_HTTP_MIDDLEWARES=header@file
Environment = TRAEFIK_ENTRYPOINTS_HTTPS_HTTP_TLS_CERTRESOLVER=default
Environment = TRAEFIK_ENTRYPOINTS_HTTPS_HTTP3=true
PublishPort = 80:80
PublishPort = 443:443
PublishPort = 443:443/udp

SecurityLabelDisable = true
Volume = %t/podman/podman.sock:/var/run/docker.sock:ro
Volume = ./config.yaml:/config/default.yaml:ro
Volume = proxy.volume:/acme
[Service]
Restart = on-failure
[Install]
WantedBy = default.target
